.font-textLogin{

    font-family: Georgia, serif;
    font-size: 25px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #C112FF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
        
}

.css-inputLogin {
    padding: 4px;
    font-size: 16px;
    border-width: 1px;
    border-color: #f360ed;
    background-color: #ebf1b9;
    color: #7d048d;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 1px 0px 1px rgba(66,66,66,.75);
}
.css-inputLogin:focus {
    outline:none;
}

.ButtonLogin {
	background:linear-gradient(to bottom, #f567ec 5%, #b5bd86 100%);
	background-color:#f567ec;
	border-radius:28px;
	border:1px solid #800878;
	display:inline-block;
	cursor:pointer;
	color:#330433;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.ButtonLogin:hover {
	background:linear-gradient(to bottom, #b5bd86 5%, #f567ec 100%);
	background-color:#b5bd86;
}
.ButtonLogin:active {
	position:relative;
	top:1px;
}

